* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;

}

.mainBox{
    position: absolute;
    background-color: #0B2434;
    width:360px;
    height: 379px;
    transform: translate(-50%,-50%);
    top: 50%;    
    left: 50%;
}

.whiteBox{
    background-color: #F5F5F5;
    width: 320px;
    height: 320px;
    position: inherit;
    transform: translate(-50%, -50%);
    top: 50%;    
    left: 50%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textArea{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.textArea .title {
    color: #2B283A;
    font-size: 24px;
    font-family: 'Karla', sans-serif;
}

.text{
    font-size: 13px;
}


.dice_face{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 35px;
    width: 35px;
    color: #2B283A;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    padding:5px;
}

.dice_row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    height: 100px;
    align-items: center;

}

.roll-button{
    background-color:#5035FF;
    color:#fff;
    border:none;
    padding:10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

.button-cotainer{
    text-align: center;
}

.game-area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 120px;
    width: 80%;
    margin: 0 auto;
}

.dot{
    width: 5px;
    height: 5px;
    background-color: #333;
    border-radius: 50%;
}

/* .dot_1{
    align-content: space-around;
    justify-content: space-around;
} */

.dot.dot_1,
.dot.dot_7{
    visibility:hidden;
}

.dice_face_1 .dot_0,
.dice_face_1 .dot_2,
.dice_face_1 .dot_3,
.dice_face_1 .dot_5,
.dice_face_1 .dot_6,
.dice_face_1 .dot_7,
.dice_face_1 .dot_8{
    visibility:hidden;
}

.dice_face_2 .dot_2,
.dice_face_2 .dot_3,
.dice_face_2 .dot_4,
.dice_face_2 .dot_5,
.dice_face_2 .dot_6{
    visibility:hidden;
}

.dice_face_3 .dot_2,
.dice_face_3 .dot_3,
.dice_face_3 .dot_5,
.dice_face_3 .dot_6{
    visibility:hidden;
}

.dice_face_4 .dot_3,
.dice_face_4 .dot_4,
.dice_face_4 .dot_5{
    visibility:hidden;
}

.dice_face_5 .dot_3,
.dice_face_5 .dot_5{
    visibility:hidden;
}

.dice_face_6 .dot_4{
    visibility:hidden;
}